* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/***** events *******/

.event-intro {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  line-height: 2.2;
  padding-bottom: 30px;
  text-align: left;
}

/** Vi fjerner billedet KUN i mobil, laver omvendt media query*/
@media (max-width: 768px) {
  .event-intro img {
    display: none;
  }
}

@media (min-width: 768px) {
  .event-intro {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 40px 20px;
  }

  .event-intro p {
    max-width: 500px;
    line-height: 2.4;
  }

  .event-intro img {
    aspect-ratio: 3 / 2;
    width: 100%;
    max-width: 610px;
    object-fit: cover;
  }
}

#events {
  display: grid;
  gap: 2rem;
  max-width: 340px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 2;
}

.event-produkt {
  padding: 20px;
  max-width: 340px;
  margin: 0 auto;
  background-color: #6a1717;
  color: white;
  line-height: 1.8;
  transition: transform 0.3s ease; /*Så når den hover mere smooth*/
}

.event-produkt:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.h3_events {
  font-size: 26px;
  padding-top: 10px;
  font-weight: bolder;
}

.h4_events {
  font-size: 15px;
  font-weight: lighter;
}

.p_events {
  font-size: 15px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  #events {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 5px;
  }

  .event-produkt {
    max-width: 100%;
  }
}

/****** Request afsnit *******/

.privat-booking {
  background-color: #fdbc28;
  padding: 20px;
  color: #331a1a;
}

.privat-booking-indhold {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

.privat-booking-indhold p {
  padding: 5px;
}

@media (min-width: 768px) {
  .privat-booking {
    padding: 50px 20px;
    min-height: 330px;
  }

  .privat-booking-indhold {
    max-width: 700px;
  }
}

.booking-knap {
  background-color: #331a1a;
  cursor: pointer;
  border-radius: 13px;
  text-align: center;
  margin-top: 27px;
  padding: 15px 37px;
  border: 1px;
  color: white;
  transition: transform 0.3s ease;
}

.booking-knap:hover {
  transform: scale(1.03);
}

/****** GALLERI *****/

.galleri-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 80px 20px;
}

@media (min-width: 768px) {
  .galleri-container {
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px;
  }
}
