/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/******************* HTML + BODY ***********************/

/******************** MOBIL *******************************************************************************/
/****** Forside billede og tekst ***********/
.forside_img_relative {
  position: relative;
}

.forside_h1_p_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* præcis i midten af billede */
  text-align: center;
  color: white;
}

.forside_h1 {
  font-size: 3rem;
}

.forside_h2 {
  font-size: 1.3rem;
  font-weight: 200;
}

@media (min-width: 768px) {
  .forside_h1 {
    font-size: 4.8rem;
  }

  .forside_h2 {
    font-size: 2rem;
  }
}

/****** Buttons ****************/
.forside_button {
  background-color: #fdbc28;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  padding: 10px 0; /* Fjern den horisontale padding */
  flex: 1; /* Gør knappen fleksibel og fylder lige meget */
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

.forside_button:hover {
  background-color: #ffcb57;
  transform: scale(1.03);
}

.forside_button_tekst {
  text-decoration: none;
  color: black;
}

.forside_button_margin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .forside_button {
    flex: none;
    width: auto;
    min-width: 250px;
    font-size: 0.9rem;
  }

  .forside_button_margin {
    gap: 40px;
  }
}

/****** Opening hours section + location section *************/

.opening_hours_section_width {
  max-width: 500px; /* containeren bliver ikke større end givne værdi */
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 3 kolonner */
  gap: 5px 20px; /* rækkeafstand, kolonneafstand */
  line-height: 2.2;
  align-items: center; /* Centrerer alt indhold lodret i hver grid-række*/
  margin-bottom: 30px;
}

.day_time_rows {
  display: contents; /* gør at child-elementer går direkte ind i grid'et */
}

.opening_hours_section_width hr {
  width: 40px; /* længden på stregen */
  border: 0;
  border-bottom: 0.5px solid white;
  margin: 0 auto; /* centrer hr i kolonnen */
}

.location_opening_backcolor {
  background-color: #6a1717;
  color: white;
  padding: 15px 45px 30px 45px;
}

.opening_h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.location_h2 {
  margin-bottom: 5px;
}

.location_p {
  line-height: 2.2;
}

/******** About us section *********************/
.about_us_section {
  margin-top: 30px;
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.about_us_h2 {
  margin-bottom: 10px;
}

.about_us_p {
  margin-bottom: 10px;
  line-height: 2.2;
}

.about_us_img {
  margin-left: 15px;
  margin-right: 15px;
}

/********* Ratings ***************************/
.ratings_h2 {
  margin-top: 30px;
  margin-left: 15px;
}

.rating_box {
  max-width: 250px;
  height: 250px;
  padding: 20px 30px;
  background-color: #ffcb57;
  border-radius: 7px;
  flex-shrink: 0;
  line-height: 1.45;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center; /* centrer lodret */
  justify-content: center; /* centrer vandret */
}

.rating_scroll :hover {
  background-color: #fde38a;
}

.rating_scroll {
  display: flex;
  gap: 10px; /* afstand mellem boksene */
  overflow-x: auto; /* gør rækken scrollbar vandret */
  padding: 20px 0; /* plads over/under */
  scroll-behavior: smooth; /* lækker smooth scrolling */
  white-space: normal; /* g'r at teksten bliver liggende inde i boksene */
}

.rating_scroll p {
  color: black;
}

/******************** DESKTOP *******************************************************************************/
@media (min-width: 768px) {
  /******* Forside grid ******************/
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /******* about us section *************/
  .about_us_img {
    order: -1;
    margin-top: 30px;
    max-width: 500px;
  }

  .about_us_p {
    max-width: 500px;
  }

  .about_us_container {
    display: flex;
    align-items: center; /* centrer lodret */
    justify-content: center; /* centrer vandret */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  /******* Location section ************/
  .location_img {
    max-width: 500px;
  }

  .location_opening_backcolor {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 50px;
  }

  .opening_hours_section_width {
    min-width: 350px;
  }

  /******* Forside billede og tekst ************/
  .forside_img {
    height: 630px; /* Fast højde */
    overflow: hidden; /* skjuler det overskydende af billedet */
    object-fit: cover; /* Fylder containeren uden at ændre proportioner */
  }

  /********* Buttons ****************/
  .forside_button_margin {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .forside_button {
    margin: 20px;
  }

  /******** Ratings ******************/
  .ratings_section {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/**************** FOOTER *********************/

footer {
  background-color: #331a1a;
  color: #d6d6d6;
  text-align: left;
  padding: 30px;
  margin-top: 40px;
}

footer h2 {
  font-size: 35px;
  font-weight: bolder;
  margin: 20px auto;
}

footer h3 {
  font-size: 16px;
  max-width: 300px;
  line-height: 1.7;
  font-weight: lighter;
}

.sign-up {
  padding: 25px;
}

.search-input {
  min-width: 290px;
  padding: 15px;
  font-size: 11px;
  border: 1px;
  border-radius: 20px;
}

.sign-up-button {
  background-color: #fdbc28;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  margin: 5px;
  padding: 15px;
  border: 1px;
}

.sign-up-button:hover {
  background-color: #ffcb57;
  transform: scale(1.03);
}

.kontakt {
  line-height: 1.8;
  font-size: 16px;
}

.kontakt a {
  color: #d6d6d6;
  text-decoration: underline;
}

.kontakt a:hover {
  color: #ffcb57; /* change to your desired hover color */
}

.rapport {
  font-size: 13px;
  padding-top: 50px;
  line-height: 1.8;
  font-weight: 100;
}

.rapport img {
  max-width: 30px;
}

@media (min-width: 768px) {
  .search-input {
    min-width: 490px;
    font-size: 14px;
  }

  .sign-up-button {
    padding: 15px 40px;
    font-size: 14px;
  }

  .sign-up {
    padding-top: 25px;
  }

  .kontakt {
    font-size: 15px;
  }

  .footer-nederst {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .rapport {
    text-align: right;
    font-size: 15px;
  }

  .rapport img {
    max-width: 45px;
    display: block;
    margin: 0 0 0 auto;
  }
}
