/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/******************* HTML + BODY ***********************/
body {
  max-width: 1200px;
  margin: 0 auto;
}

/******************** MOBIL *******************************************************************************/
/****** Forside billede og tekst ***********/
.forside_img_relative {
  position: relative;
}

.forside_h1_p_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* præcis i midten af billede */
  text-align: center;
  color: white;
}

/****** Buttons ****************/
.forside_button {
  background-color: #fdbc28;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0; /* Fjern den horisontale padding */
  flex: 1; /* Gør knappen fleksibel og fylder lige meget */
  margin: 10px;
}

.forside_button:hover {
  background-color: #ffcb57;
  transform: scale(1.03);
}

.forside_button_tekst {
  text-decoration: none;
  color: black;
}

.forside_button_margin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

/****** Opening hours section + location section *************/
.day_time_rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opening_hours_section_width {
  max-width: 300px;
  margin-bottom: 20px;
}

hr {
  width: 20px;
  color: white;
}

.location_opening_backcolor {
  background-color: #6a1717;
  color: white;
  padding: 15px;
}

.opening_h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.location_h2 {
  margin-bottom: 5px;
}

.location_p {
  margin-bottom: 10px;
}

/******** About us section *********************/
.about_us_section {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.about_us_h2 {
  margin-bottom: 10px;
}

.about_us_p {
  margin-bottom: 10px;
  line-height: 1.45;
}

.about_us_img {
  margin-left: 15px;
  margin-right: 15px;
}

/********* Ratings ***************************/
.ratings_h2 {
  margin-top: 30px;
  margin-left: 15px;
}

.rating_box {
  max-width: 250px;
  height: 250px;
  padding: 20px 30px;
  background-color: #ffcb57;
  border-radius: 7px;
  flex-shrink: 0;
  line-height: 1.45;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center; /* centrer lodret */
  justify-content: center; /* centrer vandret */
}

.rating_scroll {
  display: flex;
  gap: 10px; /* afstand mellem boksene */
  overflow-x: auto; /* gør rækken scrollbar vandret */
  padding: 20px 0; /* plads over/under */
  scroll-behavior: smooth; /* lækker smooth scrolling */
  white-space: normal; /* g'r at teksten bliver liggende inde i boksene */
}

/******************** DESKTOP *******************************************************************************/
@media (min-width: 768px) {
  /******* Forside grid ******************/
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /******* about us section *************/
  .about_us_img {
    order: -1;
    margin-top: 30px;
    max-width: 500px;
  }

  .about_us_container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  /******* Location section ************/
  .location_img {
    max-width: 500px;
  }

  .location_opening_backcolor {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 50px;
  }

  /******* Forside billede og tekst ************/
  .forside_img {
    height: 630px; /* Fast højde */
    overflow: hidden; /* skjuler det overskydende af billedet */
    object-fit: cover; /* Fylder containeren uden at ændre proportioner */
  }

  /********* Buttons ****************/
  .forside_button_margin {
    margin-left: 50px;
    margin-right: 50px;
  }

  .forside_button {
    padding: 15px 0;
    margin: 20px;
  }
}
