/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/******************* HTML + BODY ***********************/

/******************** MOBIL *******************************************************************************/
/****** Forside billede og tekst ***********/
.forside_img_relative {
  position: relative;
  width: 100vw; /*Gør billedet ligeså bred som hele skærmen*/
  margin-left: calc(50% - 50vw); /*billedet bliver centreret ift. skærmen og ikke main*/
}

.forside_img {
  width: 100%;
  height: auto;
  display: block;
}

.forside_h1_p_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* præcis i midten af billede */
  text-align: center;
  color: white;
}

.forside_h1 {
  font-size: 3rem;
}

.forside_h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .forside_h1 {
    font-size: 4.8rem;
  }

  .forside_h2 {
    font-size: 2rem;
  }
}

/****** Buttons ****************/

.forside_button {
  background-color: #fdbc28;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  padding: 10px 0;
  flex: 1;
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.forside_button:hover {
  background-color: #fde38a;
  transform: scale(1.05);
}

.forside_button_tekst {
  text-decoration: none;
  color: black;
}

.forside_button_margin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .forside_button {
    flex: none;
    width: auto;
    min-width: 250px;
    font-size: 0.9rem;
  }

  .forside_button_margin {
    gap: 40px;
  }
}

/****** Opening hours section + location section *************/

.opening_hours_section_width {
  max-width: 500px; /* containeren bliver ikke større end givne værdi */
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 3 kolonner */
  gap: 5px 20px; /* rækkeafstand, kolonneafstand */
  line-height: 2.2;
  align-items: center; /* Centrerer alt indhold lodret i hver grid-række*/
  margin-bottom: 30px;
}

.day_time_rows {
  display: contents; /* gør at child-elementer går direkte ind i grid'et */
}

.opening_hours_section_width hr {
  width: 40px; /* længden på stregen */
  border: 0;
  border-bottom: 0.5px solid white;
  margin: 0 auto; /* centrer hr i kolonnen */
}

.location_opening_backcolor {
  background-color: #6a1717;
  color: white;
  padding: 30px 45px 30px 45px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.opening_h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.location_h2 {
  margin-bottom: 5px;
}

.location_p {
  line-height: 2.2;
}

/******** About us section *********************/
.about_us_section {
  max-width: 420px;
  margin: 0 auto;
  padding-block: 37px;
}

.about_us_h2 {
  margin-bottom: 10px;
}

.about_us_p {
  margin-bottom: 10px;
  line-height: 2.2;
}

.about_us_img {
  margin-left: 40px;
  margin-right: 40px;
}

/********* Ratings ***************************/
.ratings_h2 {
  margin-top: 30px;
  margin-left: 20px;
}

.rating_box {
  max-width: 250px;
  height: 250px;
  padding: 30px 30px;
  background-color: #fde38a;
  border-radius: 7px;
  flex-shrink: 0;
  line-height: 1.45;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center; /* centrer lodret */
  justify-content: center; /* centrer vandret */
}

.rating_scroll :hover {
  background-color: #fde38a;
}

.rating_scroll {
  display: flex;
  gap: 10px; /* afstand mellem boksene */
  overflow-x: auto; /* gør rækken scrollbar vandret */
  padding: 20px 0; /* plads over/under */
  scroll-behavior: smooth; /* lækker smooth scrolling */
  white-space: normal; /* g'r at teksten bliver liggende inde i boksene */
}

.rating_scroll p {
  color: black;
  font-weight: 300;
}

/******************** DESKTOP *******************************************************************************/
@media (min-width: 768px) {
  /******* Forside grid ******************/
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /******* about us section *************/
  .about_us_img {
    order: -1;
    margin-top: 30px;
    max-width: 500px;
  }

  .about_us_p {
    max-width: 500px;
  }

  .about_us_container {
    display: flex;
    align-items: center; /* centrer lodret */
    justify-content: center; /* centrer vandret */
    margin-left: 38px;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  /******* Location section ************/
  .location_img {
    max-width: 500px;
  }

  .location_opening_backcolor {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 50px;
  }

  .opening_hours_section_width {
    min-width: 350px;
  }

  /******* Forside billede og tekst ************/
  .forside_img {
    height: 630px; /* Fast højde */
    overflow: hidden; /* skjuler det overskydende af billedet */
    object-fit: cover; /* Fylder containeren uden at ændre proportioner */
  }

  /********* Buttons ****************/
  .forside_button_margin {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .forside_button {
    margin: 20px;
  }
}
