/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** side størrelse *********************/
main {
  max-width: 1200px;
  margin: 0 auto;
}
/*************** Mobil *********************/
.produkt_intro {
  padding: 40px;
}
.produkt_intro h1 {
  margin-bottom: 40px;
}
.produkt_description {
  background-color: #6a1717;
  padding: 40px;
}

.produkt_description p {
  max-width: 350px;
  line-height: 2.2;
}

.produkt_description p {
  max-width: 400px;
  line-height: 2.2;
}

.produkt_description h2 {
  margin-bottom: 20px;
}
.produkt_img {
  max-width: 500px;
  object-fit: cover;
  padding: 20px;
}

.knap {
  cursor: pointer;
  background-color: #fdbc28;
  text-align: center;
  margin-top: 27px;
  text-decoration: none;
  padding: 10px 37px;
  border: 1px;
  color: black;
  transition: transform 0.3s ease;
}

.knap:hover {
  background-color: #ffcb57;
  transform: scale(1.03);
}

/*************** Web *********************/
@media (min-width: 768px) {
  /******* øverste stykke grid ******************/
  .grid_1_1_produkt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
  }
  .produkt_description p {
    max-width: 800px;
  }
  .produkt_intro {
    margin-top: 50px;
    margin-left: 10px;
  }

  .knap {
    padding: 12px 50px;
  }
}
