/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******* Styling på alle sider ********/

body {
  background-color: #571212;
  color: white;
}

html {
  background-color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/***************** FONTE ****************/
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2%;
  font-size: 2.3rem;
  font-weight: 100;
  color: white;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 2%;
  font-size: 1.6rem;
  color: white;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: white;
}

button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 750;
  border-radius: 7px;
  transition: transform 0.3s ease;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  button {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }
}

button:hover {
  transform: scale(1.03);
}

a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 750;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.03);
}

/******************* FORSIDE KNAP og MENU KNAP ****************/

.forside_button {
  background-color: #fdbc28;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  padding: 10px 0; /* Fjern den horisontale padding */
  flex: 1; /* Gør knappen fleksibel og fylder lige meget */
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  .forside_button {
    flex: none;
    width: auto;
    min-width: 250px;
    font-size: 0.9rem;
  }
}

/******************** MENU ************************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 170px;
  margin-block: 0;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  text-decoration: underline;
  color: #fdbc28;
}

header {
  background-color: #331a1a;
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

.nav-link.active {
  color: #fdbc28;
  font-weight: 600;
}

/********** burger *****************/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #331a1a;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 1.3rem;
  }
  .menu a {
    color: white;
  }

  .logo {
    width: 120px;
    margin-block: 0;
  }
}

/****** FOOTER *******/

/***** FOOTER ***/
footer {
  background-color: #331a1a;
  color: #d6d6d6;
  text-align: left;
  padding: 30px;
  margin-top: 40px;
}

footer h2 {
  font-size: 35px;
  font-weight: bolder;
  margin: 20px auto;
  font-family: "Anton", sans-serif;
}

footer h3 {
  font-size: 16px;
  max-width: 300px;
  line-height: 1.7;
  font-weight: lighter;
}

.sign-up {
  padding-block: 25px;
}

.search-input {
  min-width: 290px;
  padding: 15px;
  font-size: 11px;
  border: 1px;
  border-radius: 7px;
  font-family: "Nunito Sans", sans-serif;
}

.sign-up-button {
  background-color: #fdbc28;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  padding: 15px;
  border-radius: 7px;
  border: 1px;
  transition: transform 0.3s ease;
}

.sign-up-button:hover {
  background-color: #ffcb57;
  transform: scale(1.03);
}

.kontakt p {
  line-height: 1.8;
  font-size: 0.9rem;
}

.kontakt a {
  color: #d6d6d6;
  text-decoration: underline;
}

.kontakt a:hover {
  color: #ffcb57;
}

.rapport p {
  font-size: 0.9rem;
  line-height: 1.8;
}

.rapport img {
  max-width: 30px;
  margin-bottom: 5px;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .search-input {
    min-width: 490px;
    font-size: 14px;
  }

  .sign-up-button {
    padding: 13px 53px;
    font-size: 14px;
  }

  .sign-up {
    padding: 25px 0px;
  }

  .kontakt {
    font-size: 15px;
  }

  .footer-nederst {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .rapport {
    text-align: right;
    font-size: 15px;
  }

  .rapport img {
    max-width: 45px;
    display: block;
    margin: 0 0 10px auto;
  }
}
